.footer-container {
  bottom: 0;
  width: 100%;
  color: white;
  background-color: #001529;
  display: grid;
  grid-template-areas:
    'about about about about about about'
    'mobile mobile mobile social social social'
    'copyright copyright copyright copyright copyright copyright';
}

.about-us {
  grid-area: about;
  text-align: center;
}

.mobile {
  grid-area: mobile;
  padding-left: 5px;
  text-align: left;
}

.social {
  grid-area: social;
  padding-right: 5px;
  text-align: right;
}

.copyright-text {
  grid-area: copyright;
  text-align: center;
}
