.logo {
  height: 80px;
  width: 180px;
  margin: 16px;
  background-image:url("../app/img/pregredLogo2.jpg");
}

.content-container {
  padding: 24px;
  min-height: 360px;
  margin: 10px 16px;
}

.page-container .content-container {
  background: #fff;
}

[data-theme='dark'] .page-container .content-container {
  background: #141414;
}
