.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.content-container {
  padding: 24px;
  min-height: 360px;
  margin: 10px 16px;
}

.page-container .content-container {
  background: #fff;
}

[data-theme='dark'] .page-container .content-container {
  background: #141414;
}
